.section {
    background-color: rgb(37, 36, 41);
    color: white;
    border-radius: 20px;
    display: inline-block;
    width: 655px;
    height: 250px;
    margin: auto;
    margin-right: 20px;
    vertical-align: top;
    text-align: center;
}