<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- CSS stylesheets -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
		<!-- JavaScripts -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/primary.js') }}"></script>
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
		<!-- Icons -->
		<script src="https://kit.fontawesome.com/deef0bf4ed.js" crossorigin="anonymous"></script>
		
		<title>VeriVax</title>
	</head>

	<body style="font-family: 'Source Sans Pro', sans-serif; background-color: rgb(23, 23, 29); overflow-y: hidden;">
		
			{% if currentUser["type"] == "Manager" %}
				<div id="navbar">
					<a class="klasse-title" href="/">VeriVax</a>
					<a class="navlink active" href="/">Home</a>
					<a class="navlink" href="/members">Members</a>
					<a class="navlink" href="/settings">Settings</a>
					<img class="profile" src={{ currentUser["profile"] }} alt="profile" onclick="window.open('/settings', '_self')">
				</div>

				<div style="padding-left: 90px; padding-top: 10px;">
					<h1 class="title" style="padding-left: 40px;">Welcome {{ currentUser["name"] }}!</h1>
					<br>
				</div>

				<div>
					<div class="section" style="height: 475px; text-align: left; margin-left: 100px;">
						<br>
						<h1 class="subtitle" style="text-align: center;">Institute Members</h1>
						<br>
						{% set count = [] %}
						{% for user in users if user["organization"] == currentUser["organization"] and user["id"] != currentUser["id"] and count|length < 3 %}
						
							<img class="user-profile" src={{ user["profile"] }} alt="profile" style="float: left; margin-left: 50px;" onclick="window.open('/user:{{ user['id'] }}', '_self')">
							<div style="float: left; margin-top: 0px; margin-left: 25px;">
								<h2 style="cursor: pointer;" onclick="window.open('/user:{{ user['id'] }}', '_self')">
									<span style="font-weight: 600;">{{ user["name"] }} ({{ user["id"] }})</span>
									<br>
									{% if user["vaccines"]|length > 0 %}
										<span style="font-size: 28px;">Vaccinated</span>
									{% else %}
										<span style="font-size: 28px; color: rgb(226, 113, 113);">Unvaccinated</span>
									{% endif %}
								</h2>
							</div>
							<br><br><br><br>

							{% set x = count.append(0) %}
						{% endfor %}

						<div style="text-align: center; margin-top: 10px;">
							<a class="submit-link" href="/members" style="margin: auto;">View More</a>
						</div>
					</div>

					<div class="section" style="height: 200px;">
						<br>
						<h1 class="subtitle">Invite Members</h1>
						<br>
						<form class="needs-validation" novalidate action="{{ url_for('index') }}" method="post">
							<div class="form-group">
								<div style="text-align: left;">
									<input type="text" class="form-control" id="inviteField" name="id" placeholder="ID" required style="width: 400px; margin: auto; margin-left: 50px;">
									<button class="submit-button" type="submit" style="float: right; margin-top: -50px; margin-right: 50px;" onclick="window.location.href = '/invite:' + document.getElementById('inviteField').value"><a class="submit-link" style="color: white;">Send</a></button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<br>

				<div class="section" style="height: 200px; visibility: hidden;">
					IGNORE THIS
				</div>

				<div class="section" style="margin-top: -275px; margin-left: 100px;">
					<br>
					<h1 class="subtitle">Your Profile</h1>
					
					<div style="text-align: left; padding-left: 125px;">
						<img class="user-profile" src="/profile_4.jpg" alt="profile">
						<div style="float: right; margin-top: 0px; margin-right: 125px;">
							<h2>
								<span style="font-weight: 600;">{{ currentUser["name"] }} ({{ currentUser["id"] }})</span>
								<br>
								{% if currentUser["vaccines"]|length > 0 %}
									<span style="font-size: 28px;">Vaccinated</span>
								{% else %}
									<span style="font-size: 28px; color: rgb(226, 113, 113);">Unvaccinated</span>
								{% endif %}
							</h2>
						</div>
					</div>
					<br>
					<div style="text-align: center; margin-top: 10px;">
						<a class="submit-link" href="/settings" style="margin: auto;">View</a>
					</div>
				</div>

			{% elif currentUser["type"] == "Member" %}
				
				<div id="navbar">
					<a class="klasse-title" href="/">VeriVax</a>
					<a class="navlink active" href="/">Home</a>
					<a class="navlink" href="/alerts">Alerts</a>
					<a class="navlink" href="/settings">Settings</a>
					<img class="profile" src={{ currentUser["profile"] }} alt="profile" onclick="window.open('/settings', '_self')">
				</div>

				<div style="padding-left: 90px; padding-top: 10px;">
					<h1 class="title" style="padding-left: 40px;">Welcome {{ currentUser["name"] }}!</h1>
					<br>
				</div>

				<div class="section" style="height: 475px; text-align: left; margin-left: 100px;">
					<br>
					<h1 class="subtitle" style="text-align: center;">Alerts</h1>
					<br>

					{% if currentUser["alerts"]|length == 0 %}
						<h1 style="font-style: italic; text-align: center; line-height: 5;">No alerts!</h1>
					{% else %}

						{% set count = [] %}
						{% for alert in currentUser["alerts"] %}
						
							<img class="user-profile" src={{ alert["from"]["profile"] }} alt="profile" style="float: left; margin-left: 50px;" onclick="window.open('/user:{{ alert["from"]['id'] }}', '_self')">
							<div style="float: left; margin-top: 0px; margin-left: 25px;">
								<h2 style="cursor: pointer;" onclick="window.open('/user:{{ alert["from"]['id'] }}', '_self')">
									<span style="font-weight: 600;">{{ alert["from"]["name"] }} ({{ alert["from"]["id"] }})</span>
									<br>
									{% if alert["type"] == "invite" %}
										<span style="font-size: 28px;">Invited you to {{ alert["from"]["organization"] }}</span>
									{% elif alert["type"] == "delete" %}
										<span style="font-size: 28px;">Removed you from {{ alert["from"]["organization"] }}</span>
									{% elif alert["type"] == "doctor_request" %}
										<span style="font-size: 28px;">Requested to edit your profile</span>
									{% else %}
										<span style="font-size: 28px;">Updated your profile</span>
									{% endif %}
								</h2>
							</div>
							<br><br><br><br>

							{% set x = count.append(0) %}
						{% endfor %}

						<div style="text-align: center; margin-top: 10px;">
							<a class="submit-link" href="/alerts" style="margin: auto;">View More</a>
						</div>
					{% endif %}
				</div>

				<div class="section" style="height: 200px;">
					<br>
					<h1 class="subtitle">Find Person</h1>
					<br>
					<form class="needs-validation" novalidate action="{{ url_for('index') }}" method="post">
						<div class="form-group">
							<div style="text-align: left;">
								<input type="text" class="form-control" name="pw" placeholder="ID" id="validationCustom02" required style="width: 400px; margin: auto; margin-left: 50px;">
								<button class="submit-button" type="submit" style="float: right; margin-top: -50px; margin-right: 50px;"><a class="submit-link" style="color: white;">Send</a></button>
							</div>
						</div>
					</form>
				</div>
			</div>
			
			<br>

			<div class="section" style="height: 200px; visibility: hidden;">
				IGNORE THIS
			</div>

			<div class="section" style="margin-top: -250px; margin-left: 100px;">
				<br>
				<h1 class="subtitle">Your Profile</h1>
				
				<img class="user-profile" src={{ currentUser["profile"] }} alt="profile" style="float: left; margin-left: 75px;" onclick="window.open('/settings', '_self')">
				<div style="float: left; margin-top: 0px; margin-left: 25px; text-align: left;">
					<h2 style="cursor: pointer;" onclick="window.open('/settings', '_self')">
						<span style="font-weight: 600;">{{ currentUser["name"] }} ({{ currentUser["id"] }})</span>
						<br>
						{% if currentUser["vaccines"]|length > 0 %}
							<span style="font-size: 28px;">Vaccinated</span>
						{% else %}
							<span style="font-size: 28px; color: rgb(226, 113, 113);">Unvaccinated</span>
						{% endif %}
					</h2>
				</div>
				<br><br><br><br>

				<!-- <div style="text-align: left; padding-left: 125px;">
					<img class="user-profile" src="{{ currentUser['profile'] }}" alt="profile">
					<div style="float: right; margin-top: 0px; margin-right: 125px;">
						<h2>
							<span style="font-weight: 600;">{{ currentUser["name"] }} ({{ currentUser["id"] }})</span>
							<br>
							{% if currentUser["vaccines"]|length > 0 %}
								<span style="font-size: 28px;">Vaccinated</span>
							{% else %}
								<span style="font-size: 28px; color: rgb(226, 113, 113);">Unvaccinated</span>
							{% endif %}
						</h2>
					</div>
				</div>
				<br> -->
				<div style="text-align: center; margin-top: 10px;">
					<a class="submit-link" href="/settings" style="margin: auto;">View</a>
				</div>

				
			{% else %}
				<div id="navbar">
					<a class="klasse-title" href="/">VeriVax</a>
					<a class="navlink active" href="/">Home</a>
					<a class="navlink" href="/patients">Patients</a>
					<a class="navlink" href="/settings">Settings</a>
					<img class="profile" src={{ currentUser["profile"] }} alt="profile" onclick="window.open('/settings', '_self')">
				</div>	

				<div style="padding-left: 90px; padding-top: 10px;">
					<h1 class="title" style="padding-left: 40px;">Welcome {{ currentUser["name"] }}!</h1>
					<br>
				</div>

				<div>
					<div class="section" style="height: 475px; text-align: left; margin-left: 100px;">
						<br>
						<h1 class="subtitle" style="text-align: center;">Patients</h1>
						<br>
						{% set count = [] %}
						{% for patient in currentUser["patients"] if count|length < 3 %}
							
							<div style="text-align: left; padding-left: 125px;">
								<img class="user-profile" src={{ patient["profile"] }} alt="profile" onclick="window.open('/user:{{ patient['id'] }}', '_self')">
								<div style="float: right; margin-top: 0px; margin-right: 100px;">
									<h2 style="cursor: pointer;" onclick="window.open('/user:{{ patient['id'] }}', '_self')">
										<span style="font-weight: 600;">{{ patient["name"] }} ({{ patient["id"] }})</span>
										<br>
										{% if patient["vaccines"]|length > 0 %}
											<span style="font-size: 28px;">Vaccinated</span>
										{% else %}
											<span style="font-size: 28px; color: rgb(226, 113, 113);">Unvaccinated</span>
										{% endif %}
									</h2>
								</div>
							</div>
							<br>

							{% set x = count.append(0) %}
						{% endfor %}

						<div style="text-align: center; margin-top: 10px;">
							<a class="submit-link" href="/patients" style="margin: auto;">View More</a>
						</div>
					</div>

					<div class="section" style="height: 200px;">
						<br>
						<h1 class="subtitle">Patient Lookup</h1>
						<br>
						<div class="form-group">
							<div style="text-align: left;">
								<input type="text" class="form-control" name="pw" placeholder="ID" id="patientField" required style="width: 400px; margin: auto; margin-left: 50px;">
								<button class="submit-button" onclick="window.open('/user:' + document.getElementById('patientField').value, '_self')" style="float: right; margin-top: -50px; margin-right: 50px;"><a class="submit-link" style="color: white;">Search</a></button>
							</div>
						</div>
					</div>
				</div>
				
				<br>

				<div class="section" style="height: 200px; visibility: hidden;">
					IGNORE THIS
				</div>

				<div class="section" style="margin-top: -275px; margin-left: 100px;">
					<br>
					<h1 class="subtitle">Your Profile</h1>
					
					<div style="text-align: left; padding-left: 125px;">
						<img class="user-profile" src="{{ currentUser['profile'] }}" alt="profile">
						<div style="float: right; margin-top: 0px; margin-right: 125px;">
							<h2>
								<span style="font-weight: 600;">{{ currentUser["name"] }} ({{ currentUser["id"] }})</span>
								<br>
								{% if currentUser["vaccines"]|length > 0 %}
									<span style="font-size: 28px;">Vaccinated</span>
								{% else %}
									<span style="font-size: 28px; color: rgb(226, 113, 113);">Unvaccinated</span>
								{% endif %}
							</h2>
						</div>
					</div>
					<br>
					<div style="text-align: center; margin-top: 10px;">
						<a class="submit-link" href="/settings" style="margin: auto;">Edit</a>
					</div>
				</div>
			{% endif %}
		</div>
		<br>
	</body>
</html>